# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [11]:
from xml.etree import ElementTree as ET
import pandas as pd

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [3]:
# print names of all countries
for child in document_tree.getroot():
    print child.find('name').text

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [4]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    print '* ' + element.find('name').text + ':',
    capitals_string = ''
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print capitals_string[:-2]

* Albania: Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece: Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia: Skopje, Kumanovo
* Serbia: Beograd, Novi Sad, Niš
* Montenegro: Podgorica
* Kosovo: Prishtine
* Andorra: Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [44]:
document = ET.parse( './data/mondial_database.xml' )

### 1. 10 countries with lowest infant mortality rates

In [42]:
# Create a dataframe with country name and infant mortality
df1 = pd.DataFrame(columns=['country','infant_mortality'])
i = 0
for child in document.getroot():
    df1.loc[i,'country'] = child.find('name').text
    try:
        df1.loc[i,'infant_mortality'] = child.find('infant_mortality').text
    except:
        pass
    i += 1

In [31]:
df1.country.count()

2761

In [32]:
df1.infant_mortality.count()

228

Data is available for only 228 countries. Let's get the top 10

In [45]:
#drop extra rows (not really necesary)
#df1 = df1.dropna(how='any')
#change datatype
df1['infant_mortality'] = df1['infant_mortality'].astype('float')
#sort
df1.sort_values('infant_mortality',inplace=True)
df1.head(10)

            country  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

### 2. 10 cities with the largest population

In [67]:
# Create a dataframe with cities and population
df2 = pd.DataFrame(columns=['city','population'])
i = 0

for element in document.iterfind('country'):
    for subelement in element.getiterator('city'):
        df2.loc[i,'city'] = subelement.find('name').text
        try:
            df2.loc[i,'population'] = subelement.find('population').text
        except:
            pass
        i += 1

In [69]:
df2 = df2.dropna(how='any')
df2['population'] = df2['population'].astype('int')
df2.sort_values(by='population',ascending=False).head(10)

                  city  population
1928             Seoul    10229262
1527            Mumbai     9925891
2810         São Paulo     9412894
1757           Jakarta     8259266
1341          Shanghai     8205598
2109  Ciudad de México     8092449
479             Moskva     8010954
1876             Tokyo     7843000
1340           Beijing     7362426
1582             Delhi     7206704